/*Main Styling*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/*Header Section*/
.section-nav {
    width: 100%;
    height: 81px;
    background-color: white;
    position: fixed;
    z-index: 10;
    margin-top: -65px;


}

#main-header {
    width: 97%;
    height: 65px;
    margin: 15px 0 0 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(133, 133, 133, 0.56) 0px 22px 70px 4px;
    position: fixed;
}

.logo {
    padding: 14px;
    cursor: pointer;
}

#main-header nav ul li {
    display: inline-block;
    padding: 20px;
}

.navigation {
    margin-top: -65px;
    margin-left: 220px;
}

.header-right {
    width: 18%;
    margin-top: -55px;
    float: right;
}

.header-right option {
    margin: 10px;
}

.navbar {
    border-right: rgb(240, 240, 240) solid 1px;
}

.navbar a:hover {
    color: #0035a0;
}

.navbar a {
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.language {
    padding: 15px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.language1 {
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.language:hover {
    background-color: lightblue;
}

.language1:hover {
    background-color: lightblue;
}

/*Showcase Section*/

#showcase {
    width: 100%;
    height: 1470px;
    clear: both;
    margin-top: 50px;
}

.showcase-section {
    padding: 25px;
}

.left {
    width: 75%;
    float: left;
}

.information:hover .main-info {
    color: #0035a0;
}

.left-main {
    display: flex;
}

.main-info {
    padding: 40px 30px 20px 0;
    font-size: 28px;
    cursor: pointer;
}

.letter {
    padding-right: 25px;
    letter-spacing: 1px;
    line-height: 20px;
    color: rgb(94, 94, 94);
}

.button {
    padding: 15px;
    background-color: #0035a0;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    color: white;
}

.button:hover {
    background-color: #bce7f6;
    border: 1px solid #0035a0;
    color: black;
}

/*left bottom*/

.left-bottom {
    display: flex;
    padding-top: 30px;
}

.left-bottom-whole {
    float: left;
}

.left-bottom-left {
    width: 76%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.left-bottom-text {
    line-height: 30px;
}

.little-text {
    font-size: 12px;
    font-weight: 900;
    color: rgb(171, 171, 171);
}

.font-size {
    font-size: 20px;
    padding-right: 30px;
    cursor: pointer;
}

.font-size:hover {
    color: #0035a0;
}

/*left bottom right*/

.left-bottom-right {
    width: 40%;
    margin-left: -150px;
}

.left-bottom-right-top {
    margin-top: 20px;
    background-color: #e2f1f6;
    padding: 25px;
    font-size: 17px;
    cursor: pointer;
}

.left-bottom-right-top:hover {
    box-shadow: #bce7f6 10px 10px;
}

.left-bottom-right-middle {
    margin-top: 20px;
    background-color: #e2f6eb;
    ;
    padding: 25px;
    font-size: 17px;
    cursor: pointer;
}

.left-bottom-right-middle:hover {
    box-shadow: #c2f3d8 10px 10px;
}

.left-bottom-right-bottom {
    margin-top: 20px;
    background-color: #f6eee2;
    padding: 25px;
    font-size: 17px;
    cursor: pointer;
}

.left-bottom-right-bottom:hover {
    box-shadow: #e9d4b6 10px 10px;
}

.left-bottom-right-textli {
    padding: 15px 0;
}

.text {
    font-weight: 800;
    font-size: 19px;
}

.left-bottom-right-text {
    padding: 15px 0;
    cursor: pointer;
}

.left-bottom-right-text:hover {
    color: #0035a0;
}

/*right*/

.right {
    float: right;
    width: 22%;
    padding: 10px;
}

.right-info {
    height: 110px;
    border-bottom: 1px solid rgb(189, 189, 189);
}


.weight {
    font-weight: 700;
    font-size: 15px;
}


/*Actual News Section*/

#news-section {
    width: 100%;
    height: 750px;
}

.next-section {
    padding: 22px;
}

.news-left {
    width: 52%;
    float: left;
}

.info {
    font-weight: 750;
    font-size: 32px;
    cursor: pointer;
    padding-bottom: 20px;
}

.fa-up-right-from-square {
    font-size: 0.8rem;
}

.fa-up-right-from-square:hover {
    font-size: 1rem;
}

.news-font-size {
    font-size: 25px;
    padding: 8px 0;
    cursor: pointer;
}

.news-font-size:hover {
    color: #0035a0;
}

.news-right {
    width: 48%;
    float: right;
}

.right-first {
    width: 48%;
    float: left;
    padding: 5px;
}

.right-second {
    width: 48%;
    float: right;
    padding: 5px;
}

.contain {
    padding: 17px 0;
}

.first {
    border-bottom: 1px solid rgb(189, 189, 189);
    padding: 8px 0;
}

/*Section for Youtube videos*/

#videos {
    width: 100%;
    height: 1070px;
}

.videos-section {
    padding: 20px;
}

.youtube {
    display: flex;
    margin: 25px 0;
    justify-content: space-evenly;
}

.definition {
    padding: 20px;
}

.video1 {
    width: 310px;
    height: 450px;
    display: block;
    background-color: #e2f6eb;
    border-radius: 10px;
}

/*Section for Photo Gallery*/

#photogallery {
    width: 100%;
    height: 650px;
}

.gallery {
    display: block;
    width: 300px;
    height: 500px;
    background-color: #f6eee2;
}

.pics-section {
    padding: 30px;
    float: right;
}